[submodule "PunishLib"]
	path = PunishLib
	url = https://github.com/PunishXIV/PunishLib
	master = master
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/Taurenkey/ECommons
	master = master
[submodule "FFXIVClientStructs"]
	path = FFXIVClientStructs
	url = https://github.com/Taurenkey/FFXIVClientStructs.git
[submodule "ClickLib"]
	path = ClickLib
	url = https://github.com/Limiana/ClickLib.git
